.center {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

.violet {
  height: 1024px;
  width: 1442px;
  background: #3a4a69;
  position: relative;
}

.alb {
  position: absolute;
  left: 184px;
  right: 0px;
  top: 9.96%;
  bottom: 10.55%;
  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
}
.bar {
  display: grid;
  grid-template-columns: 374.18px 557.58px 1fr;
}
.logo {
  width: 374.18px;
  height: 62.43px;
  margin-top: 36.97px;
  margin-left: 102.87px;
}
#tribute {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.285em;
  color: #000000;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
  text-transform: uppercase;
}
.link {
  display: grid;
  justify-content: end;
  margin-top: 43.65px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#info {
  margin-right: 130.84px;
}
a {
  text-decoration: none;
  color: black;
}
.grid-container {
  width: 1258px;
  display: grid;
  grid-template-columns: 625.97px 1fr;
}

.imaginetext-page1 {
  display: grid;
  justify-content: start;
  margin-top: 55.42px;
  margin-left: 103.4px;
}
.mini-grid {
  display: grid;
  grid-template-rows: 50px 88px 75px;
}
.nume {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 50px;
  margin-top: 59.42px;
  margin-left: 112.53px;
}
.title {
  width: 384px;
  height: 88px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.085em;
  margin-top: 120.42px;
  margin-left: 112.53px;
}
.perioada {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: rgba(58, 84, 138, 0.87);
  font-size: 61px;
  margin-top: 160px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: 112.53px;
}
#descriere {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  width: 522.57px;
  height: 69px;
}
.sageata-jos {
  margin-top: 117.98px;
  margin-left: 424.99px;
}
.trecere-pagina {
  height: 145px;
  width: 1442px;
  background: #e5e5e5;
}
.alb2 {
  position: absolute;
  left: 0;
  right: 1px;
  top: 10.06%;
  bottom: 10.55%;
  background: #ffffff;
}
.grid-page2 {
  width: 1433;
  display: grid;
  grid-template-columns: 578px 1fr;
  grid-template-rows: 330.8px 131px 1fr;
}
.titlu {
  background: rgba(83, 106, 153, 0.49);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  width: 399px;
  height: 33px;
  margin-top: 110.2px;
  margin-left: 187px;
}
#titlu1-page2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: 49.5px;
}
.informatie {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  height: 165px;
  margin-top: 16px;
  margin-left: 186px;
}
.imagine1-page2 {
  margin-top: 99.8px;
  margin-left: 177.96px;
}
.an1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: rgba(58, 84, 138, 0.87);
  margin-top: 56px;
  margin-left: 298.5px;
}
.an2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: rgba(58, 84, 138, 0.87);
  margin-top: 56px;
  margin-left: 384.61px;
}
.poza-familie {
  margin-top: 51.4px;
  margin-left: 185px;
}
.titlu2-page2 {
  background: rgba(83, 106, 153, 0.49);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  width: 548.17px;
  height: 58px;
  margin-top: 51.2px;
  margin-left: 173.64px;
}

#title2-page2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-top: 19px;
}
#descriere-page2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  width: 549.3px;
  height: 128px;
  padding-top: 28px;
}
#sag-jos {
  margin-left: -52px;
}

.titlu4 {
  width: 474.32px;
  height: 76px;
  background: rgba(83, 106, 153, 0.49);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  margin-top: 89.29px;
  margin-left: 249.72px;
}
#titlu1-page4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.titlu6 {
  background: #b2bdd2;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  width: 561px;
  height: 53px;
  margin-top: 81px;
}
#title6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
#moarte {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-top: 57.83px;
  text-align: center;
}
.an6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: rgba(58, 84, 138, 0.87);
}
.wiki {
  background: rgba(83, 106, 153, 0.49);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  width: 273px;
  height: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
#semnatura {
  position: absolute;
  width: 402px;
  height: 28px;
  top: 959px;
  color: #FFF;
  margin-left: 100px;
}
#titlu1-page3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: 49.5px;
}
#titlu1-page4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: 49.5px;
}
#titlu1-page5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: 49.5px;
}